<footer class="footer is-mobile">
  <div class="content has-text-centered">
    <p>
      &copy; 2023 Antonio Luis Martínez Perales. <%=__('Todos los derechos reservados') %>.
    </p>
  </div>
</footer>