/* Estilos para el cuerpo de la página */
body {
  background-color: #f8f8f8;
  font-family: "Open Sans", sans-serif;
  margin-top: 3.2rem;
}

/* Estilos para los títulos */
.title {
  color: #333333;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* Estilos para los subtítulos */
.subtitle {
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Estilos para las cajas de los anuncios */
.box {
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

/* Estilos para las imágenes de los anuncios */
.image {
  border-radius: 25%; /* para que la imagen sea un círculo */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.image img {
  border-radius: 25%; /* para que la imagen sea un círculo */
}

/* Estilos para los precios de los anuncios */
.subtitle.is-5 {
  color: #865dff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Estilos para las categorías de los anuncios */
.content p {
  color: #333333;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Estilos para la navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #40d7a7;
  color: #ffffff;
}

.navbar-brand .navbar-item-title {
  color: #ffffff;
  font-weight: bold;
}

.navbar-brand .navbar-item-title:hover {
  color: #3273dc;
}

.navbar-item {
  color: #ffffff;
  font-weight: bold;
}

/* Estilos para los enlaces de Iniciar sesión y Cerrar sesión en la navbar */
#login,
#logout {
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

#login {
  background-color: #3daa70;
}

#login:hover {
  background-color: #a3ccb6;
}

#logout {
  background-color: #ff0000;
}

#logout:hover {
  background-color: #d87979;
}


/* Estilos para los enlaces selectores de idioma */
.lang-link {
  margin-left: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.lang-link:hover {
  color: #000000;
}

/* Estilos para el menú desplegable de la navbar en mobile */
.navbar-menu {
  background-color: #40d7a7;
}

/* Estilos para el footer */
.footer {
  background-color: #40d7a7;
  color: #ffffff;
}

.footer-content {
  color: #ffffff;
}

/* Estilos para el formulario */
.form-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 20px;
  background-color: #ffffff;
  color: #333333;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: 3rem; /* Margen superior */
  margin-bottom: 3rem; /* Margen inferior */
}

.row {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #333333;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #40d7a7;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
